<div  *ngIf="teamList!=undefined && teamList.length>0">
  <div class="accordion" id="accordion2" *ngFor='let team of teamList; let i=index'>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href='#{{i}}'>
          {{team.teamName | uppercase }}
        </a>
      </div>
      <div  [attr.id]="i" class="accordion-body collapse in">
        <div class="accordion-inner">
          <div class="user-story table " *ngFor='let us of team.cards'>
              <h4><a [href]="us.href" target="_blank">{{us.type}} {{us.id}} {{us.name}}</a></h4>
                <p><strong> Name:</strong> {{us.bucName}}</p>
                <p><strong>Created By:</strong> {{us.createdBy}}</p>
              <table class=" table table-striped" style="width:100%">
                  <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Status</th>
                        <th>Approval History</th>
                        <th>Comments</th>
                        <th>Patch Sets</th>
                        <th>Owner</th>
                        <th>Project</th>
                        <th>Branch</th>
                    </tr>
                    </thead>
                  <tr *ngFor='let gcr of us.gcrs'>
                      <td><a [href]="gcr.href" target="_blank">{{gcr.title}}</a></td>
                      <td >
                        <span data-toggle="tooltip"  class="badge {{gcr.status.flag}}" title="{{gcr.status.dateLastPatchSet}}">{{gcr.status.value}}</span>
                      </td>
                      <td>
                          <p *ngFor='let history of gcr.status.approvalHistory'>
                              <span class="label {{history.value>= 0?'label-success':'label-danger'}}">{{history.value}}</span>
                              {{history.user.name}}
                          </p>
                      </td>
                      <td>{{gcr.numberOfComments}}</td>
                      <td>{{gcr.numberOfPatchsets}}</td>
                      <td>{{gcr.owner.name}}</td>
                      <td>{{gcr.project}}</td>
                      <td>{{gcr.branch}}</td>
                  </tr>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="no-data"  *ngIf="teamList==null">
    <h1>No Data Available</h1>
</div>
<script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
  });
</script>