.accordion-heading{
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: #b4b1b1;
    border-color: #ddd;
    padding:10px;
}
.user-story{
    border-color: rgba(221, 221, 221, 0.986);
}

